<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>demo 1</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/lib/bootstrap-theme-bluerex/dist/css/bootstrap.css"/>
    <script type="text/javascript" src="//cdn.socket.io/socket.io-1.1.0.js"
            integrity="ni:///sha-256;4omls-f3OZnoi9yQzyNT9_vPSo8hb-oTnjdwgyUcJV8=?ct=application/javascript"></script>
</head>
<body ng-app="GoAng">
<div class="container" ng-controller="ChatCtrl">
    <div class="usernamebox panel panel-info" ng-hide="username != false">
        <div class="panel-body">
            <form class="form-horizontal" ng-submit="setUsername()">
                <label for="username">Handle:</label>
                <input id="username" class="form-control" ng-model="inputUsername">
            </form>
        </div>
    </div>
    <div class="messagebox panel panel-default" ng-hide="username == false">
        <div class="panel-heading">
            <h1>demo 1</h1>
        </div>
        <div scroll-glue class="panel-body" style="height: 600px; max-height: 80%; overflow-y: scroll;">
            <section ng-repeat="message in messages track by $index"
                     ng-class="{'pull-right': message.type === 'joined_message'}">
                <small class="text-info" ng-show="message.type === 'joined_message'"><i>[<b
                        ng-bind="message.username"></b>]</i>logged in
                </small>
                <small class="text-info" am-time-ago="message.dateTime"></small>
                <p ng-show="message.type == 'message'">[<label ng-bind="message.username"></label>] <span
                        ng-bind="message.message"></span></p>
            </section>
        </div>
        <div class="panel-footer">
            <form class="form-horizontal" ng-submit="sendMessage()">
                <label for="message">Send:</label>
                <input id="message" class="form-control" ng-model="newMessage">
            </form>
        </div>
    </div>
</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/static/lib/angular/angular.js"></script>
<script src="/static/lib/angular-animate/angular-animate.min.js"></script>
<script src="/static/lib/angular-socket-io/socket.js"></script>
<script src="/static/lib/moment/min/moment.min.js"></script>
<script src="/static/lib/angular-moment/angular-moment.min.js"></script>
<script src="/static/lib/angularjs-scroll-glue/src/scrollglue.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="/static/scripts/app.js"></script>
<script src="/static/scripts/controllers/chat.js"></script>
<script src="/static/scripts/services/socket.js"></script>
<!-- endbuild -->
</body>
</html>
